/* Container grid */
.countries-container {
   /* display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 2.5rem;
   padding: 2rem; */
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 60px;
   margin-top: 25px;
}

/* Individual card */
.country-card {
   /* background-color: var(--element-bg);
   border-radius: 6px;
   overflow: hidden;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   transition: transform 0.2s ease; */
   width: 100%;
   height: 100%;
   border-radius: 8px;
   border: none;
   overflow: hidden;
   text-align: left;
   display: flex;
   flex-direction: column;
   transition: transform 0.3s, box-shadow 0.3s;
   padding-bottom: 35px;
}

.country-card:hover {
   /* transform: translateY(-5px); */
   transform: translateY(-8px);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Flag image */
.country-flag {
   /* width: 100%;
   height: 160px;
   object-fit: cover; */
   width: 100%;
   height: auto;
   flex-shrink: 0;
   aspect-ratio: 16 / 9; /*Ensure flags are proportionate */
   margin-bottom: 5px;
}

/* Country info */
.country-info {
   padding: 1.5rem;
}

.country-info h3 {
   /* margin-bottom: 1rem;
   font-size: 1.1rem; */

   font-size: 1.2rem;
   font-weight: 600;
   color: hsl(200, 15%, 8%);
   padding: 15px 20px 0;
   margin-bottom: 10px;
   margin-top: 20px;
}

.country-info p {
   /* margin-bottom: 0.5rem;
   font-size: 0.9rem; */

   font-size: 0.9rem;
   color: hsl(200, 15%, 40%);
   padding-left: 20px;
   margin-bottom: 10px;
}
