/* ===== HEADER ===== */

.header {
   background-color: var(--element-bg);
   box-shadow: var(--shadow);
   width: 100vw;
}
/* ===== INNER CONTAINER ===== */

.header-container {
   max-width: 1280px;
   margin: 0 auto;
   padding: 1.5rem 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* ===== TITLE ===== */

.logo {
   font-size: 1.4rem;
   font-weight: 800;
   margin: 0;
}

/* ===== THEME TOGGLE ===== */

.theme-toggle {
   display: flex;
   align-items: center;
   background: none;
   border: none;
   color: var(--text);
   font-weight: 600;
   cursor: pointer;
   gap: 0.5rem;
}

/* ===== MOON ===== */

.moon {
   font-size: 1.1rem;
   line-height: 1;
   position: relative;
   top: -2px;
   display: block;
}
