/* ===== HEADER ===== */
.header {
   width: 100%;
   height: 80px;
   display: flex;
   align-items: center;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}

/* ===== INNER CONTAINER ===== */
.header-container {
   max-width: 1280px;
   width: 100%;
   margin: 0 auto;
   padding: 0 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

/* ===== TITLE ===== */
.logo {
   font-size: 1.4rem;
   font-weight: 800;
   margin: 0;
}

/* ===== THEME TOGGLE ===== */
.theme-toggle {
   display: flex;
   align-items: center;
   gap: 0.5rem;

   background: none;
   border: none; /* FM default */
   cursor: pointer;

   font-size: 1rem;
   font-weight: 600;
}

/* ===== MOON ===== */
.moon {
   font-size: 1.1rem;
}

/* ===== LIGHT MODE ===== */
.header.light {
   background-color: hsl(0, 0%, 100%);
   color: hsl(200, 15%, 8%);
}

/* ===== DARK MODE ===== */
.header.dark {
   background-color: hsl(209, 23%, 22%);
   color: hsl(0, 0%, 100%);
}
